version: "3.9"

services:
  server:
    build: ./server
    container_name: node_server
    restart: always
    env_file:
      - .env
    ports:
      - "5000:5000"

  client:
    build: ./client
    container_name: vite_client
    restart: always
    depends_on:
      - server
    ports:
      - "5173:80"

